:root{
    --primaryColor: #1f2937;
    --whiteTextColor: #f9faf8;
    --linksColor: #e5e7eb;
    --linksColorClicked: #bdc1c9;
    --quoteBacgroud: #e5e7eb;
    --buttonColor: #3882f6;
    --backgroundColor: #e5e7eb;
}
div{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1 1 auto;
    /* for working pupourses */
    /* border-style: solid;
    border-width: 1px;
    border-color: aqua;  */
}
a:link, a:visited{
    text-decoration: none;
    color: var(--linksColor);
    font-weight: 100;
}
a:hover, a:active {
    text-decoration: none;
    color: var(--linksColorClicked);
    font-weight: 100;
}
.left{
    flex:1 1 auto;
}
.width{
    max-width: 1000px;
    min-width: 500px;
    align-self: center;
    flex: 1 1;
    flex-wrap: wrap;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.widthColor{
    flex-direction: column;
    margin: 0px;
    align-items: stretch;
}
.colorHeader{
    background-color: var(--primaryColor);
}
.header{
    width: auto;
    width: 96vw;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    color: var(--whiteTextColor);
    height: 50px;
    padding: 0px 10px;
    gap: 10px;
}
.header .left{
    flex-direction: row;
    flex-grow: 0;
    gap: 10px;
    font-size: 24px;
    font-weight: 600;

}
.header .right{
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    flex-grow: 0;
    gap: 10px;
    font-size: 18px;

}
.empty{
    flex: 1;
}
.section1{
    justify-content: space-between;
    color: var(--whiteTextColor);
    align-items: stretch;
    padding: 80px 10px;
    gap:50px 20px;
}
.section1 .left{
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}
.section1 .left .head{
    flex-wrap: wrap;
    font-size: 48px;
    font-weight: 700;
}
.section1 .right{
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #4b4e52;
    min-width: 300px;
}
button{
    transition-duration: 0.5s;
    color: var(--whiteTextColor);
    font-weight: 700;
    align-self: baseline;
    border-style: none;
    background-color: var(--buttonColor);
    padding: 7px 30px;
    border-radius:5px;
    margin: 10px 0px;
}
button:hover{
    background-color: var(--backgroundColor);
    color: var(--buttonColor);
}
.button2{
    border-style: solid;
}
.section2{
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 40px
}
.section2 .top{
    font-weight: 800;
    font-size: 28px;
}
.section2 .bottom{
    flex-direction: row;
    gap: 10px;
}
.containerImage{
    flex-direction: column;
    gap:5px;
}
.section2 .img{
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: var(--buttonColor);
    border-radius: 15px;
    align-self: center;
}
.containerImage .bottom{
    text-align: center;
    align-self: center;
    max-width: 200px;
}
.colorQuote{
    background-color:   var(--quoteBacgroud);
}
.section3{
    flex-direction: column;
    padding: 100px 0px;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}
.section3 .top{
    padding: 0px 80px;
}
.section3 .bottom{
    align-self: flex-end;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    padding: 0px 20px;
}
.section4 .window{
    flex-grow: 1;
    justify-content: space-between;
    margin:100px 0px;
    border-radius: 15px;
    padding: 30px 80px;
    gap: 20px;
    background-color: var(--buttonColor);
}
.window .left{
    flex-direction: column;
}
.window .left .top{
    color: var(--whiteTextColor);
    font-size: 23px;
    font-weight: 400;
}
.window .left .bottom{
    color: var(--whiteTextColor);
    font-weight: 200;
}
.window button{
    align-self: center;
}
.footer{
    background-color: var(--primaryColor);
    color: var(--linksColor);
    justify-content: center;
    padding: 20px;
    font-weight: 100;
}